<!-- Validation failure messages -->
<% if @c_vote.errors.any? %>
  <% @c_vote.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add C Vote</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_c_vote" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for up -->
      <div class="form-group">
        <label for="up" class="control-label">
          Up
        </label>

        <input type="text" id="up" name="up" placeholder="Up" class="form-control" value="<%= @c_vote.up %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @c_vote.user_id %>">
      </div>

      <!-- Label and input for comment_id -->
      <div class="form-group">
        <label for="comment_id" class="control-label">
          Comment
        </label>

        <input type="text" id="comment_id" name="comment_id" placeholder="Comment" class="form-control" value="<%= @c_vote.comment_id %>">
      </div>

      <button class="btn btn-success">
        Create C Vote
      </button>
      or
      <a href="/c_votes">Cancel</a>
    </form>
  </div>
</div>
