<style>
  a {
    text-decoration: none !important
  }
  .subscribe-badge {
    border: unset !important;
    padding: unset !important;
    background-image: unset !important;
    background-color: unset !important;
  }
  
</style>

<div class="row">
<div class="col-sm-6">
  <h1>Topics</h1>
</div>
<div class="col-sm-6"></div>
</div>

<div class="row">
  <div class="col-sm-6">
    
    <% @subjects.each do |sbj| %>
    <ul class="list-group">
      <h3><b><%= sbj %></b></h3>
      <% topics = Topic.where(:subject => sbj) %>
      <% topics.each do |topic| %>
          <li class="list-group-item justify-content-between list-group-item-action">
            <a href= "/r/<%= topic.name %>"><%= topic.name %></a>
            
            <span class="badge badge-default badge-pill"><%= topic.posts.count %> posts</span>
            <%= render :partial => 'subscriptions/SubButton', :locals => { :topic => topic } %>
          </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
