<!-- Validation failure messages -->
<% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Post #<%= @post.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_post/<%= @post.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @post.user_id %>">
      </div>

      <!-- Label and input for topic_id -->
      <div class="form-group">
        <label for="topic_id" class="control-label">
          Topic
        </label>

        <input type="text" id="topic_id" name="topic_id" placeholder="Topic" class="form-control" value="<%= @post.topic_id %>">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"><%= @post.body %></textarea>
      </div>

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <textarea id="title" name="title" placeholder="Title" class="form-control" rows="3"><%= @post.title %></textarea>
      </div>

      <!-- Label and input for url -->
      <div class="form-group">
        <label for="url" class="control-label">
          Url
        </label>

        <input type="text" id="url" name="url" placeholder="Url" class="form-control" value="<%= @post.url %>">
      </div>

      <button class="btn btn-warning">
        Update Post
      </button>
      or
      <a href="/posts/<%= @post.id %>">Cancel</a>
    </form>
  </div>
</div>
