<div class="page-header">
  <h1>
    Votes
    <a href="/votes/new" class="btn btn-lg btn-success">New Vote</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Up</th>
        <th>User</th>
        <th>Voteable</th>
        <th>Voteable type</th>
        <th>Actions</th>
      </tr>

      <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.up %></td>
        <td><%= vote.user_id %></td>
        <td><%= vote.voteable_id %></td>
        <td><%= vote.voteable_type %></td>
        <td>
          <a href="/votes/<%= vote.id %>" class="btn btn-primary">Show</a>
          <a href="/votes/<%= vote.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_vote/<%= vote.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
